.App {
  text-align: center;
  position: relative;
}

/* HEADER */
.header,
.footer {
  background-color: #F3DE8A;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  position: static;
}


.header h1,
.footer h2 {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  color: #272838;
  margin: 0;

}

.footer h2 {
  font-size: 32px;
}

.logo {
  width: 80px;
}
